/*========== GOOGLE FONTS ==========*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


/* @font-face {
  font-family: StephenGillion;
  src:url("../font/StephenGillion.otf") format("opentype");
} */
.bts-logo {
  font-family: "StephenGillion";
  font-size: xx-large;
    font-weight: 100!important ;
}
.ck-editor__editable {
  min-height: 150px;
}

/*========== VARIABLES CSS ==========*/
:root {
  --header-height: 3.5rem!important ;
  --nav-width: 230px!important ;

  /*========== Colors ==========*/
  --first-color: #b085b7!important ;
  --first-color-light: #F4F0FA!important ;
  --title-color: #19181B!important ;
  /* --text-color: #58555E!important ; */
  --text-color: #000000!important ;
  /* --text-color: #ffffff!important ; */
  --text-color-light: #A5A1AA!important ;
  --body-color: #F9F6FD!important ;
  /* --container-color: #FFFFFF!important ; */
  --container-color: #1a222c!important ;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif!important ;
  --logo-font: 'Roboto', sans-serif!important ;
  --normal-font-size: .938rem!important ;
  --small-font-size: .75rem!important ;
  --smaller-font-size: .75rem!important ;

  /*========== Font weight ==========*/
  --font-medium: 500!important ;
  --font-semi-bold: 600!important ;
  --font-bold: 700!important ;

  /*========== z index ==========*/
  --z-fixed: 100!important ;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem!important ;
    --small-font-size: .875rem!important ;
    --smaller-font-size: .813rem!important ;
  }
}

/*========== BASE ==========*/
/* *, ::before, ::after {
  box-sizing: border-box!important ;
} */

body {
  margin: var(--header-height) 0 0 0!important ;
  padding: 1rem 1rem 0!important ;
  font-family: var(--body-font)!important ;
  font-size: var(--normal-font-size)!important ;
  background-color: var(--body-color)!important ;
  color: var(--text-color)!important ;
}

h3 {
  margin: 0!important ;
}

a {
  text-decoration: none!important ;
}

img {
  max-width: 100%!important ;
  height: auto!important ;
}

/*========== HEADER ==========*/
.header {
  position: fixed!important ;
  top: 0!important ;
  left: 0!important ;
  width: 100%!important ;
  background-color: var(--container-color)!important ;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1)!important ;
  padding: 0 1rem!important ;
  z-index: var(--z-fixed)!important ;
  /* -webkit-box-shadow: 5px 5px 9px -1px var(--container-color) !important; 
box-shadow: 5px 5px 9px -1px var(--container-color) !important; */
}

.header__container {
  display: flex!important ;
  align-items: center!important ;
  height: var(--header-height)!important ;
  justify-content: space-between!important ;
}

.header__img {
  width: 35px!important ;
  height: 35px!important ;
  border-radius: 50%!important ;
}

.header__logo {
  font-family: var(--logo-font)!important ;
  color: var(--first-color-light)!important ;
  font-weight: var(--font-bold)!important ;
  font-size: larger!important ;
  display: none!important ;
}

.header__search {
  display: flex!important ;
  padding: .40rem .75rem!important ;
  background-color: var(--first-color-light)!important ;
  border-radius: .25rem!important ;
}

.header__input {
  width: 100%!important ;
  border: none!important ;
  outline: none!important ;
  background-color: var(--first-color-light)!important ;
}

.header__input::placeholder {
  font-family: var(--body-font)!important ;
  color: var(--text-color)!important ;
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem!important ;
}

.header__toggle {
  color: var(--body-color)!important ;
  cursor: pointer!important ;
}

/*========== NAV ==========*/
.nav {
  position: fixed !important ;
  top: 0 !important ;
  left: -100% !important ;
  height: 100vh !important ;
  padding: 1rem 1rem 0 !important ;
  background-color: var(--container-color) !important ;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1) !important ;
  z-index: var(--z-fixed) !important ;
  transition: .4s !important ;

}

.nav__container {
  height: 100%!important ;
  display: flex!important ;
  flex-direction: column!important ;
  justify-content: space-between!important ;
  padding-bottom: 3rem!important ;
  overflow: auto!important ;
  scrollbar-width: none!important ; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none!important ;
}

.nav__logo {
  font-weight: var(--font-bold)!important ;
  margin-bottom: 2.5rem!important ;
}

.nav__list, 
.nav__items {
  display: grid!important ;
}

.nav__list {
  row-gap: 2.5rem!important ;
}

.nav__items {
  row-gap: 1.5rem!important ;
}

.nav__subtitle {
  font-size: var(--normal-font-size)!important ;
  text-transform: uppercase!important ;
  letter-spacing: .1rem!important ;
  color: var(--text-color-light)!important ;
}

.nav__link {
  display: flex!important ;
  align-items: center!important ;
  color: var(--first-color-light)!important ;
}

.nav__link:hover {
  color: var(--first-color)!important ;
}

.nav__icon {
  font-size: 1.2rem!important ;
  margin-right: .5rem!important ;
}

.nav__name {
  font-size: var(--small-font-size)!important ;
  font-weight: var(--font-medium)!important ;
  white-space: nowrap!important ;
}

.nav__logout {
  margin-top: 5rem!important ;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden !important ;
  max-height: 21px !important ;
  transition: all 0.9s ease-in-out 0s !important ;
  /* transition-delay: 0s, 0s, 0.3s;  */
  /* transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; */
}


.nav__dropdown-collapse {
  background-color: var(--first-color-light)!important ;
  border-radius: .25rem!important ;
  margin-top: 1rem!important ;
}

.nav__dropdown-content {
  display: grid!important ;
  row-gap: .5rem!important ;
  padding: .75rem 2.5rem .75rem 1.8rem!important ;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size)!important ;
  font-weight: var(--font-medium)!important ;
  color: var(--text-color)!important ;
}

.nav__dropdown-item:hover {
  color: var(--first-color)!important ;
}

.nav__dropdown-icon {
  margin-left: auto!important ;
  transition: .4s!important ;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem!important ;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg)!important ;
}

/*===== Show menu =====*/
.show-menu {
  left: 0!important ;
}

/*===== Active link =====*/
.active {
  color: var(--first-color)!important ;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%!important ;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem!important ;
  }
  .header {
    padding: 0 3rem 0 6rem!important ;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem)!important ;
  }
  .header__search {
    width: 300px!important ;
    padding: .55rem .75rem!important ;
  }
  .header__toggle {
    display: none!important ;
  }
  .header__logo {
    display: block!important ;


  }
  .header__img {
    width: 40px!important ;
    height: 40px!important ;
    order: 1!important ;
  }
  .nav {
    left: 0!important ;
    padding: 1.2rem 1.5rem 0!important ;
    width: 68px!important ; /* Reduced navbar */
    /* -webkit-box-shadow: 5px 5px 9px -1px var(--container-color) !important; 
    box-shadow: 5px 5px 9px -1px var(--container-color) !important; */
  }
  .nav__logo{
    fill: #1a222c!important ;
  }
  .nav__items {
    row-gap: 1.7rem!important ;
  }
  .nav__icon {
    font-size: 1.3rem!important ;
  }

  /* Element opacity */
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0!important ;
    transition: .3s!important ;
  }
  
/* .nav__logo {
    opacity: 0!important ;
  } */
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width)!important ;
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1!important ;
  }
  .nav:hover .nav__logo {
    opacity: 1!important ;
  }
  .nav:hover .nav__subtitle {
    opacity: 1!important ;
  }
  .nav:hover .nav__name {
    opacity: 1!important ;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1!important ;
  }
}
